<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 i18n="@@404Error" class="title">404 無此頁面</h2>
          <small i18n="@@pageNotFound" class="sub-title">原頁面可能已被移除，您可以嘗試其他連結或回首頁查詢</small>
          <button nbButton i18n="@@home" matRipple fullWidth (click)="goToHome()" type="button" class="home-button">
            回首頁
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
