@import "../../../@theme/styles/themes";

@include nb-install-component() {
  .title {
    background: #4c88ff;
    text-align: center;
    width: 300px;
  }
  .button {
    background: #6fe0e7;
    border-color: #6fe0e7;
  }
}

nb-card {
  border-color: transparent;
}

nb-card-header {
  padding: 0.3%;
  height: 10;
  font-size: 1rem;
  border-color: transparent;
}

nb-card-body {
  overflow-y: hidden;
  align-items: center;
  text-align: center;
}

nb-card-footer {
  padding: 0%;
  border-color: transparent;
}

nb-list-item.ng-star-inserted {
  padding: 0.3%;
}

.icon {
  width: 24px;
  height: 24px;
}

#sitebody {
  width: 100%;
  height: auto;
  margin: 0;
  font-size: 1rem;
}

#sidebar_left {
  width: 1%;
  height: 5.1rem;
  text-align: center;
  float: left;
}

#content {
  margin-left: 2.8rem;
  height: 50%;
  width: 85%;
  text-align: left;
}

.border_line {
  margin: 0.8rem;
}
