@import "../../@theme/styles/themes";

@include nb-install-component() {
  ngx-echarts-line,
  ngx-echarts-area-stack {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;
  }

  ::ng-deep .echart {
    height: 100%;
    width: 100%;
  }
}

