.signageContainer {
  height: 100%;
  width: 100%;
}
.fullScreen_vdo {
  height: 100%;
  width: 100%;
  // object-fit: fill;
}
.fullScreen {
  height: 100%;
  width: 100%;
}
.tripleBlock_vdo {
  height: 45%;
  width: 100%;
  object-fit: fill;
}
.tripleBlock {
  height: 45%;
  width: 100%;
}
.doubleBlock_vdo {
  height: 50%;
  width: 100%;
  object-fit: fill;
}
.doubleBlock {
  height: 50%;
  width: 100%;
}
